@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #3B82F6;
  --color-secondary: #10B981;
  --color-background: #F9FAFB;
  --color-text: #1F2937;
}

.dark {
  --color-background: #111827; /* Dark bg */
  --color-text: #F9FAFB;       /* Light text */       
  --background: oklch(0.145 0 0);       
  --foreground: oklch(0.985 0 0);       

}

body.dark {

    background-color: #111827;

}

@layer base{
    button{

        @apply rounded-2xl bg-primary cursor-pointer text-white max-w-[200px] p-2 w-full hover:bg-blue-400;
    }
}
@layer components{
    .heading{
        @apply text-text text-center text-4xl md:text-5xl my-2;
    }
    .box-container{
        @apply w-full bg-background rounded-2xl mx-auto mt-6 p-4 shadow;
    }
}


  

